In [1]:
import pandas as pd

In [5]:
# Load data
df = pd.read_csv('Book(Sheet1).csv')

In [7]:
df.head(10)

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Microsoft,2023,"2,11,915","72,361","4,11,976","2,05,753",14
1,Microsoft,2022,"1,98,270","72,738","3,64,840","1,98,298",6
2,Microsoft,2021,"1,68,088","61,271","3,04,180","1,91,791",19
3,Tesla,2023,"96,773","12,600","1,06,618","43,009",10
4,Tesla,2022,"81,462","11,000","82,338","36,440",7
5,Tesla,2021,"53,823","5,519","62,131","27,877",5
6,Apple,2023,"3,85,000","1,00,000","3,00,000","2,00,000",16
7,Apple,2022,"3,94,328","99,803","3,51,000","2,83,000",12
8,Apple,2021,"3,65,817","94,680","3,16,000","2,79,000",9

In [10]:
# Ensure all relevant columns are treated as strings
df['Total Revenue'] = df['Total Revenue'].astype(str).str.replace(',', '')
df['Net Income'] = df['Net Income'].astype(str).str.replace(',', '')
df['Total Assets'] = df['Total Assets'].astype(str).str.replace(',', '')
df['Total Liabilities'] = df['Total Liabilities'].astype(str).str.replace(',', '')
df['Cash Flow from Operating Activities'] = df['Cash Flow from Operating Activities'].astype(str).str.replace(',', '')

In [11]:
# Convert columns to numeric, handling non-numeric entries
df['Total Revenue'] = pd.to_numeric(df['Total Revenue'], errors='coerce')
df['Net Income'] = pd.to_numeric(df['Net Income'], errors='coerce')
df['Total Assets'] = pd.to_numeric(df['Total Assets'], errors='coerce')
df['Total Liabilities'] = pd.to_numeric(df['Total Liabilities'], errors='coerce')
df['Cash Flow from Operating Activities'] = pd.to_numeric(df['Cash Flow from Operating Activities'], errors='coerce')

In [12]:
# Calculate year-over-year changes
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

In [13]:
print(df)

     Company  Year  Total Revenue  Net Income  Total Assets  \
0  Microsoft  2023         211915       72361        411976
1  Microsoft  2022         198270       72738        364840
2  Microsoft  2021         168088       61271        304180
3      Tesla  2023          96773       12600        106618
4      Tesla  2022          81462       11000         82338
5      Tesla  2021          53823        5519         62131
6      Apple  2023         385000      100000        300000
7      Apple  2022         394328       99803        351000
8      Apple  2021         365817       94680        316000

   Total Liabilities  Cash Flow from Operating Activities  Revenue Growth (%)  \
0             205753                                   14                 NaN
1             198298                                    6           -6.438902
2             191791                                   19          -15.222676
3              43009                                   10                 NaN
4              36440                                    7          -15.821562
5              27877                                    5          -33.928703
6             200000                                   16                 NaN
7             283000                                   12            2.422857
8             279000                                    9           -7.230275

   Net Income Growth (%)
0                    NaN
1               0.520999
2             -15.764800
3                    NaN
4             -12.698413
5             -49.827273
6                    NaN
7              -0.197000
8              -5.133112

In [14]:
# Summarize findings
avg_revenue_growth = df.groupby('Company')['Revenue Growth (%)'].mean()
avg_net_income_growth = df.groupby('Company')['Net Income Growth (%)'].mean()

In [15]:
# Display results
print("Average Revenue Growth by Company:")
print(avg_revenue_growth)
print("\nAverage Net Income Growth by Company:")
print(avg_net_income_growth)

Average Revenue Growth by Company:
Company
Apple        -2.403709
Microsoft   -10.830789
Tesla       -24.875132
Name: Revenue Growth (%), dtype: float64

Average Net Income Growth by Company:
Company
Apple        -2.665056
Microsoft    -7.621900
Tesla       -31.262843
Name: Net Income Growth (%), dtype: float64